<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Welcome to Paylab!</title>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

      body {
        font-family: "Poppins", sans-serif;
        background-color: aliceblue;
        margin: 0;
        padding: 0;
      }
      .container {
        background-color: white;
        max-width: 600px;
        margin: 0 auto;
      }
      @media only screen and (max-width: 600px) {
        .button {
          padding: 10px;
        }
      }
    </style>
  </head>

  <body>
    <div class="container">
      <table style="width: 100%; border-collapse: collapse">
        <tr>
          <td colspan="2" style="padding: 20px">
            <img
              src="https://res.cloudinary.com/wallnet/image/upload/v1710600960/templa_fzyrak.png"
              alt="header-img"
              style="max-width: 600px; display: block; margin: 0 auto"
            />
          </td>
        </tr>
        <tr>
          <td colspan="2" style="padding: 20px">
            <h1 style="margin-top: 20px; text-align: center">
              Welcome to Paylab!
            </h1>
            <p>Dear {{last}} {{first}},</p>
            <p>
              Welcome to Paylab! We're thrilled to have you on board and ready
              to embark on a journey towards financial empowerment and
              convenience.
            </p>
            <p>
              At Paylab, we understand the importance of managing your finances
              seamlessly, and we are here to make it easier for you. Whether
              you're tracking expenses, setting savings goals, or exploring
              investment opportunities, our app is designed to simplify your
              financial life.
            </p>
          </td>
        </tr>
        <tr>
          <td colspan="2" style="padding: 20px">
            <h2>Here's what you can expect:</h2>
            <ol>
              <li>
                Intuitive Interface: Navigate through our user-friendly
                interface with ease. Access your accounts, view transactions,
                and manage your financial goals effortlessly.
              </li>
              <li>
                Smart Budgeting: Take control of your spending with our smart
                budgeting tools. Set realistic budgets, track your expenses, and
                receive personalized insights to help you save more.
              </li>
              <li>
                Secure Transactions: Your security is our top priority. Rest
                assured that every transaction you make through our app is
                encrypted and secure.
              </li>
              <li>
                Real-time Updates: Stay informed about your financial health
                with real-time updates. Monitor account balances, receive
                transaction alerts, and track your progress towards financial
                goals.
              </li>
            </ol>
          </td>
        </tr>
        <tr>
          <td colspan="2" style="padding: 20px">
            <h2>To get started:</h2>
            <ol>
              <li>
                Download the App: <a href="#">Download for iOS</a> |
                <a href="#">Download for Android</a>
              </li>
              <li>
                Create Your Account: Follow the simple on-screen instructions to
                set up your account.
              </li>
              <li>
                Explore the Features: Take a tour of the app to discover all the
                powerful features at your fingertips.
              </li>
            </ol>
          </td>
        </tr>
        <tr>
          <td colspan="2" style="padding: 20px; border-top: 1px solid #e0e0e0">
            <div style="display: inline-flex">
              <a href="http://" target="_blank" rel="noopener noreferrer"
                ><img
                  src="https://res.cloudinary.com/wallnet/image/upload/v1710601307/gplay_xzfqor.png"
                  alt=""
                  style="height: 40px; width: 140px"
              /></a>
              <a href="http://" target="_blank" rel="noopener noreferrer"
                ><img
                  src="https://res.cloudinary.com/wallnet/image/upload/v1710601307/appstore_tajeox.png"
                  alt=""
                  style="height: 40px; width: 140px; margin-left: 30px"
              /></a>
            </div>
            <div>
              <p>
                Feel free to reach out to our support team at support@paylab.com
                if you have any questions or need assistance.
              </p>
              <p>
                We're here to ensure you have a seamless experience with Paylab.
              </p>
              <p>
                Thank you for choosing Paylab as your trusted financial
                companion. We look forward to being a part of your financial
                success!
              </p>
              <p>Best regards,<br />Paylab Team</p>
            </div>
          </td>
        </tr>
        <tr>
          <td colspan="2" style="padding: 20px">
            <div
              style="
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
              "
            >
              <div
                style="
                  align-items: center;
                  justify-content: center;
                  display: flex;
                "
              >
                <a
                  href="http://"
                  target="_blank"
                  rel="noopener noreferrer"
                  style="margin-right: 20px"
                  ><img
                    src="https://res.cloudinary.com/wallnet/image/upload/v1710605435/fb_hrqv6p.png"
                    alt=""
                    style="height: 30px; width: 30px"
                /></a>
                <a
                  href="http://"
                  target="_blank"
                  rel="noopener noreferrer"
                  style="margin-right: 20px"
                  ><img
                    src="https://res.cloudinary.com/wallnet/image/upload/v1710605434/ig_d93fyh.png"
                    alt=""
                    style="height: 30px; width: 30px"
                /></a>
                <a
                  href="http://"
                  target="_blank"
                  rel="noopener noreferrer"
                  style="margin-right: 20px"
                  ><img
                    src="https://res.cloudinary.com/wallnet/image/upload/v1710605434/x_ozojjs.png"
                    alt=""
                    style="height: 30px; width: 30px"
                /></a>
                <a
                  href="http://"
                  target="_blank"
                  rel="noopener noreferrer"
                  style="margin-right: 20px"
                  ><img
                    src="https://res.cloudinary.com/wallnet/image/upload/v1710605434/link_qydmf0.png"
                    alt=""
                    style="height: 30px; width: 30px"
                /></a>
              </div>
              <p>Copright © 2024 | Paylab Ltd</p>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </body>
</html>
